@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&family=Open+Sans&display=swap');

body
{ 
    font-family: 'Caveat', cursive;
    margin: 0rem 

}

*
{
    margin: 0rem 0rem;
}

:root
{
   
    --yellow: #fee402;
    --lightbrown: #a07501;
    --brown: #483401;
}

h1
{
    font-size: 5rem;
   
}

h2
{
    font-size: 2.2rem;
}

h3
{
    font-size: 1.75rem;
}

h4
{
    font-size: 1.2rem;

}

nav
{
  margin: 0rem;
  padding: 0rem;
}

#nav-minion
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#nav-heading
{
    color: var(--brown);
    margin-bottom: 0.1rem;
}

#nav-subheading
{
    margin-top: 0rem;
    color: var(--lightbrown);
}

nav
{

    background-color: var(--yellow);
    padding: 2rem;
    text-align: center;
}

#main
{
    padding: 1rem;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

#txt-input
{
    border: 1px black solid ;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    max-width: 600px;
    height: 20vh;
    display: block;
    margin:auto;
    padding: 1rem;
}


#btn-translate
{
    background-color: var(--brown);
    border: transparent;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;;
    color:whitesmoke;
    margin-top: 1 rem;
    padding: 0.75rem 2rem;
    text-decoration: none;
}

#output
{
    font-family: 'Montserrat', sans-serif;;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#output-div
{
    border: 1px black solid ;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
    width: 80%;
    max-width: 600px;
    overflow: scroll;
    height: 20vh;
    display: block;
    text-align:left;
    margin:auto;
    padding: 1rem;
}

footer
{
    font-family: 'Montserrat', sans-serif;;
    text-align: left;
    font-size: 1rem;
    background-color: var(--brown);
    color: white;
    padding: 2rem 4rem;
}

#footer-heading
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: var(--yellow);
    margin-bottom: 1rem;
}


#footer-link
{
    text-align: center;
    margin-bottom: 2rem;
    display: block;
    text-decoration-style: dashed;
    color: var(--lightbrown);
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;

}

.link
{
    text-decoration: none;
    padding: 0.75rem 1rem;
}

footer ul
{
    padding-inline-start: 0px;
    text-align: center;
}
