@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700&display=swap');

body
{ 
     
    font-family: 'Roboto', sans-serif;
}

*
{
    margin: 0rem;
    padding: 0rem;
}

:root
{
   
    --red: #dd0000;
}

h1
{
    font-size: 5rem;
   
}

h2
{
    font-size: 2.2rem;
}

h3
{
    font-size: 1.75rem;
}

h4
{
    font-size: 1.2rem;

}

nav
{

    margin-bottom: 0rem;
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: center;
}

#nav-klingon
{
    display: block;
    margin: 1.5rem auto;
    height: 180px; 
    width: 296px;

}

#nav-heading
{
    color: white;
    font-family: 'Carattere', cursive;
    margin-bottom: 0rem;
}

#nav-subheading
{
    margin-top: 0rem;
    padding: 0rem;
    color: lightgray;
}



#main
{
    padding: 2rem;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

#txt-input
{
    border: 1px black solid ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    max-width: 600px;
    height: 20vh;
    display: block;
    margin:auto;
    padding: 1rem;
}


#btn-translate
{
    background-color: var(--red);
    border: transparent;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    margin-top: 1 rem;
    padding: 0.75rem 2rem;
    text-decoration: none;
}

#output
{
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#output-div
{
    border: 1px black solid ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    max-width: 600px;
    overflow: scroll;
    height: 20vh;
    display: block;
    text-align:left;
    margin:auto;
    padding: 1rem;
}

footer
{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 1rem;
    background-color: var(--red);
    color: white;
    padding: 2rem 4rem;
}

#footer-heading
{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
}


#footer-link
{
    text-align: center;
    margin-bottom: 2rem;
    display: block;
    text-decoration-style: dashed;
    color: black;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;

}

.link
{
    text-decoration: none;
    padding: 0.75rem 1rem;
}

footer ul
{
    padding-inline-start: 0px;
    text-align: center;
}
